# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\python_projects\adsi_a2_api\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
